@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "AboutUs"; }
<h1>@ViewData["Title"]</h1>
<h2>Consider Us if you looking for the every type of Sofa for your house in the Windsor
   </h2>
<h3>Contact US : +1 645 564 6789</h3>
<p>We have now online shopping options is also available. We deliver our products across all canada and the US. </p>